// scss-lint:disable all
//===============================
//
// TYPOGRAPHY VARIABLES
//
//===============================

// GFonts
@import url('https://fonts.googleapis.com/css?family=Lobster&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&amp;subset=latin,cyrillic');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500&amp;subset=cyrillic');

// Fonts for site
$font-title:  'Lobster', cursive;
$font-header: 'Roboto', sans-serif;
$font-text:   'Roboto', sans-serif;
$font-code:   'Roboto Mono', monospace;

// Color for links

$link-color-base:     $light-red-ochre;
$link-color-hover:    transparentize($link-color-base, .2);
$link-color-active:   $link-color-base;
$link-color-visited:  $link-color-base;
