// scss-lint:disable all

html {
    font-family: sans-serif;
    line-height: 1.15;
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}
