:root {
  --text-size-xs: 0.69rem;
  --text-size-sm: 0.83rem;
  --text-size-md: 1rem;
  --text-size-lg: 1.2rem;
  --text-size-xl: 1.44rem;
  --text-size-2xl: 1.73rem;
  --text-size-3xl: 2.07rem;
  --text-size-4xl: 2.49rem;
  --text-size-5xl: 2.99rem;
}
