:root,
:root[data-theme='light'] {
  --text-size-xs: 0.69rem;
  --text-size-sm: 0.83rem;
  --text-size-md: 1rem;
  --text-size-lg: 1.2rem;
  --text-size-xl: 1.44rem;
  --text-size-2xl: 1.73rem;
  --text-size-3xl: 2.07rem;
  --text-size-4xl: 2.49rem;
  --text-size-5xl: 2.99rem;

  --color-white: #d6d8d9;
  --color-black: #1c2939;
  --color-black50: rgba(28, 41, 57, 0.5);
  --color-navi: #253447;
  --color-gray: #4d5d6c;
  --color-lightgray: #b7b5b5;
  --color-blue: #118ab2;

  --color-background: var(--color-white);
  --color-foreground: var(--color-navi);
  --color-accent: var(--color-gray);
  --color-text: var(--color-black);

  --color-link: var(--color-blue);
}

:root[data-theme='dark'] {
  --color-background: var(--color-black);
  --color-foreground: var(--color-navi);
  --color-accent: var(--color-gray);
  --color-text: var(--color-white);
}
