Options +Includes +FollowSymLinks -Indexes
AddDefaultCharset utf-8

# Настройка кеширования файлов
<ifModule mod_expires.c>
    ExpiresActive on

    # Кеш для изображений
    ExpiresByType image/gif "access plus 1 month"
    ExpiresByType image/jpeg "access plus 1 month"
    ExpiresByType image/jpg "access plus 1 month"
    ExpiresByType image/png "access plus 1 month"
    ExpiresByType image/ico "access plus 1 month"

    # Кеш для стилей
    ExpiresByType text/css "access plus 2 day"

    # Кеш для JavaScript
    ExpiresByType application/javascript "access plus 2 day"
</IfModule>
