<header role="banner">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8">
                <div class="thebat">
                    <span class="night"></span>
                </div>
                {% if page.url == '/' %}
                <h1 class="title">
                    <a href="{{ site.baseurl }}/">{{ site.title }}</a>
                </h1>
                {% else %}
                <h2 class="title">
                    <a href="{{ site.baseurl }}/">{{ site.title }}</a>
                </h2>
                {% endif %}
            </div>
        </div>
    </div>
</header>
