<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@deeppines">
<meta name="twitter:creator" content="@deeppines">
<meta name="twitter:url" content="{{ site.url | replace: 'ru/', 'ru' }}{{ page.url }}{% if page.type == 'post'%}/{% endif %}">
<meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}"> {% if page.desc %}
<meta name="twitter:description" content="{{ page.desc }}">{% endif %} {% if page.image %}
<meta name="twitter:image" content="{{ page.image }}">{% endif %}
