// scss-lint:disable all
/**
 * Syntax highlighting styles
 */

// ADD SITE COLOR VARIABLES
@import 'core/colors';

.highlight {
    background: $gunmetal;
    padding: 10px;
    border: 1px solid $gray-light;
    border-radius: 3px;
    margin: 1.3rem 0;
    overflow: auto;
//    @extend %vertical-rhythm;

    .highlighter-rouge & {
        background: $gray-light;
    }

    pre {
        margin: 0;
    }
}

@import 'syntax-theme/zenburn';
