/**
 * Syntax highlighting styles
 */

// ADD SITE COLOR VARIABLES
@import 'base/colors';

.highlight {
    background: $primery-color;
    padding: 10px;
    border: 1px solid $secondary-color;
    border-radius: 3px;
//    @extend %vertical-rhythm;

    .highlighter-rouge & {
        background: #eef;
    }
}

@import 'syntax-theme/zenburn';
