<section class="info">
    <h2 class="info__header">Контакты</h2>

    <ul class="list list_table">
        <li class="list__item list__item_row">
            <span class="list__col list__col_icon">
                <i class="fas fa-envelope" aria-hidden="true"></i>
                Email:
            </span>
            <span class="list__col">
                <a class="list__link" href="mailto:egorkir41@gmail.com">egorkir41@gmail.com</a>
            </span>
        </li>
        <li class="list__item list__item_row">
            <span class="list__col list__col_icon">
                <i class="fab fa-skype" aria-hidden="true"></i>
                Skype:
            </span>
            <span class="list__col">
                <a class="list__link" href="skype:live:egorkir41">egorkir41</a>
            </span>
        </li>
        <li class="list__item list__item_row">
            <span class="list__col list__col_icon">
                <i class="fab fa-linkedin-in" aria-hidden="true"></i>
                LinkedIn:
            </span>
            <span class="list__col">
                <a class="list__link" href="https://www.linkedin.com/in/egorkir/">egorkir</a>
            </span>
        </li>
        <li class="list__item list__item_row">
            <span class="list__col list__col_icon">
                <i class="fab fa-telegram-plane" aria-hidden="true"></i>
                Telegram:
            </span>
            <span class="list__col">
                <a class="list__link" href="https://t.me/deeppines">@deeppines</a>
            </span>
        </li>
        <li class="list__item list__item_row">
            <span class="list__col list__col_icon">
                <i class="fab fa-github" aria-hidden="true"></i>
                GitHub:
            </span>
            <span class="list__col">
                <a class="list__link" href="https://github.com/deeppines">github.com/deeppines</a>
            </span>
        </li>
    </ul>
</section>
