<section class="info">
    <h2 class="info__header">Образование</h2>
    <div class="info-item">
        <div class="info-item_header">
            <span class="info-item_name">БАКАЛАВР ИНФОРМАЦИОННЫХ СИСТЕМ</span>
            <span class="info-item_sub">
                        <i class="fa fa-university" aria-hidden="true"></i>ИвГПУ</span>
            <span class="info-item_sub">
                        <i class="fa fa-calendar" aria-hidden="true"></i>Sep 2010 — Jul 2015</span>
        </div>
        <div class="info-item_text">
            <p>
                В 2015 году закончил Ивановский Государственный Политехнический Университет, Институт Информационных систем и технологий, по направлению Информационные системы и технологии (230400).
            </p>
        </div>
    </div>
</section>