<section class="info">
<h2 class="info__header">UI developer</h2>
    <ul class="list list_table">
        <li class="list__item list__item_row">
            <span class="list__col">
                Имя:
            </span>
            <span class="list__col">
                Кирдяшкин Егор
            </span>
        </li>
        <li class="list__item list__item_row">
            <span class="list__col">
                Дата рождения:
            </span>
            <span class="list__col">
                25 лет, 27 ноября 1992
            </span>
        </li>
        <li class="list__item list__item_row">
            <span class="list__col">
                Адрес:
            </span>
            <span class="list__col">
                Ярославль, Россия
            </span>
        </li>
        <li class="list__item list__item_row">
            <span class="list__col">
                Язык:
            </span>
            <span class="list__col">
                Русский, Английский
            </span>
        </li>
    </ul>
</section>
