<section class="info">
    <h2 class="info__header">Ключевые навыки</h2>
    <table class="table-skills">
        <thead>
        <tr>
            <th>Разметка</th>
            <th>Стили</th>
            <th>Скрипты</th>
            <th>VCS</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>HTML</td>
            <td>CSS</td>
            <td>JavaScript</td>
            <td>Git</td>
        </tr>
        <tr>
            <td>Markdown</td>
            <td>Less</td>
            <td>JQuery</td>
            <td></td>
        </tr>
        <tr>
            <td>Pug</td>
            <td>SASS</td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
        <thead>
        <tr>
            <th>Автоматизация</th>
            <th>Дополнительно</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Gulp</td>
            <td>Photoshop</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>Bootstrap</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>BEM</td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>
</section>