.article {
	margin-bottom: 30px;

	.header {

		a {
			color: inherit;
			text-decoration: none;

			&:hover {
				.fa {
					color: inherit;
				}
			}
		}

		.fa {
			font-size: 70%;
			color: #d5d5d5;
			transition: all .3s;
		}
	}

	.content {

	}

	.footer {
		padding: 10px 0;
		border-top: 1px solid #ebebeb;
	}

	.read {

	}

	.data {
		color: #cdcdcd;
        margin: 0;
	}
}
