.article {
    margin-bottom: 30px;

    .header {
        a {
            color: inherit;
            text-decoration: none;
        }

        .fa {
            font-size: 70%;
            color: $icon-color;
            transition: all .3s;
        }
    }

    a:hover {
        .fa {
            color: inherit;
        }
    }

    .footer {
        padding: 10px 0;
        border-top: 1px solid $border-color;
    }

    .data {
        color: $text-color-1;
        margin: 0;
    }
}
