//===============================
//
// BUTTONS COMPONENT
//
//===============================

.btn {
    text-decoration: none;
    transition: all .3s;
    display: inline-block;
    line-height: 1;
    padding: 6px 28px;
    border-radius: 1px;
    outline: none;

    &:hover {
        text-decoration: none;
    }
}

.btn-default {
    color: $secondary-color;
    border: 1px solid $secondary-color;

    &:focus {
        color: $secondary-color;
        box-shadow: 0 0 5px 0 $secondary-color;
    }

    &:hover {
        background-color: $secondary-color;
        color: $gray-lighter;
    }

    &:active {
        box-shadow: 0 0 5px 0 $secondary-color;
    }
}
