//===============================
//
// BUTTONS COMPONENT
//
//===============================

.btn {
    text-decoration: none;
    transition: all .3s;
    display: inline-block;
    line-height: 1;
    padding: 6px 28px;
    border-radius: 1px;
    outline: none;

    &:hover {
        text-decoration: none;
    }
}

.btn-default {
    color: $secondary-color;
    border: 1px solid $secondary-color;

    &:focus {
        color: $secondary-color;
        box-shadow: 0 0 5px 0 $secondary-color;
    }

    &:hover {
        background-color: $secondary-color;
        color: $gray-lighter;
    }

    &:active {
        box-shadow: 0 0 5px 0 $secondary-color;
    }
}

.btn-scroll-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 65px;
    height: 100%;
    display: none;
    cursor: pointer;
    transition: all .3s;

    &:hover {
        background: transparentize($primery-color, .8);
    }

    .fa {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $secondary-color;
    }

    &.active {
        display: block;
    }
}
