//==================================
//---------- Fixed Panel -----------
//==================================

.fixed-bottom {
    position: fixed;
    padding: 15px 0 0;
    bottom: -60px;
    left: 0;
    width: 100%;
    min-height: 60px;
    height: auto;
    background-color: $background-color-1;
    transition: all .4s;

    .btn-up {
        position: absolute;
        top: -50px;
        left: 50%;
        transform: translate(-50%, 0%);
        z-index: 5;
    }

    .wrapper {
        position: relative;
        height: 100%;
        z-index: 10;
    }

    &.active {
        bottom: 0;

        .btn-up {
            opacity: 1;
        }
    }
}

//==================================
//------------ Button Up -----------
//==================================

.btn-up {
    position: relative;
    width: 150px;
    height: 150px;
    background-color: $background-color-1;
    border-radius: 100%;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    opacity: .6;
    transition: opacity .3s;

    .fa {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &:hover {
        opacity: 1;

        .fa {
            animation: arrow .4s infinite alternate;
            animation-delay: .3s;
        }
    }
}

//==================================
//------------ Button Up -----------
//==================================

@keyframes arrow {
    from {
        -webkit-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    to {
        -webkit-transform: translate(-50%, -60%);
        -o-transform: translate(-50%, -60%);
        transform: translate(-50%, -60%);
    }
}
