html,
body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -60px;
}

* html .wrapper {
    height: 100%;
}

main {
    padding: 50px 0;
}

.post-content {
    padding-bottom: 30px;
}

pre {
    margin-bottom: 0;
}
