//===============================
//
// TITLE BLOCK COMPONENT
//
//===============================

.title {
    display: inline-block;
    vertical-align: middle;

    a {
        text-decoration: none;
        color: $primery-color;

        &:focus,
        &:hover {
            text-decoration: none;
        }

        &:focus {
            color: $primery-color;
        }

        &:hover {
            color: $primery-color;
        }
    }
}
