.root {
  text-decoration: none;
  display: flex;
  gap: 15px;
  width: 100%;
  color: var(--color-text);
  border: 1px solid var(--color-lightgray);
  padding: 10px;
  border-radius: 4px;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    box-shadow: 0 0 8px var(--color-link);
  }

  [data-theme='dark'] & {
    border-color: transparent;
    background-color: var(--color-foreground);
  }
}

.image {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 4px;

  svg {
    width: 100%;
    height: 100%;
  }
}

.description {
  display: flex;
  flex-direction: column;
  gap: 10px;

  p {
    line-height: 1.2;
  }
}

.badge {
  font-size: 0;
  line-height: 1;
  margin-top: auto;
}
