.socials {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 0;
}

.socialItem {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-decoration: none;

  &:hover {
    color: gray;
  }
}
