html {
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header,
main,
footer {
  width: 100%;
  max-width: 770px;
  margin: 0 auto;
  padding: 0 15px;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

section {
  padding: 20px 0;
}

* {
  box-sizing: border-box;
}
