.profile {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header {
  display: flex;
  justify-content: space-between;

  @media (max-width: 576px) {
    flex-direction: column;
    gap: 20px;
  }

  p {
    font-size: var(--text-size-lg);
  }
}

.headerLeft,
.headerRight {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.headerInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.headerLeft {
  justify-content: space-between;

  @media (max-width: 576px) {
    text-align: center;
    align-self: center;
    order: 1;
    gap: 20px;
  }
}

.headerRight {
  flex-shrink: 0;

  @media (max-width: 576px) {
    align-self: center;
  }
}

.description {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
