//===============================
//
// ABOUT COMPONENT
//
//===============================

.about {
    margin-bottom: 25px;

    &_header {
        color: $gunmetal;
    }

    &_text {
        font-size: .65em;
        line-height: 1.5;
        color: $gunmetal;
    }

    @media (max-width: 991px) {
        width: 50%;
        float: left;
    }

    @media (max-width: 575px) {
        width: 100%;
        float: none;
    }
}
