//===============================
//
// AVATAR COMPONENT
//
//===============================

.avatar {
    width: 110px;
    height: 110px;
    border: 2px solid $wight;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;

    &_center {
        margin: 0 auto;
    }

    &__img {
        display: block;
        max-width: 100%;
        height: auto;
    }

    // Small devices (landscape phones, less than 768px)
    @media (max-width: 767px) {
        width: 90px;
        height: 90px;
    }
}
