//===============================
//
// BUTTONS COMPONENT
//
//===============================

.btn {
    display: inline-block;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: 8px 24px 7px;
    border: 1px solid transparent;
    border-radius: 2px;
    vertical-align: middle;
    transition: all .3s;

    &_default {
        border-color: $purple-navy;
        background-color: $purple-navy;
        color: $wight;

        &:hover {
            border-color: $light-red-ochre;
            background-color: $light-red-ochre;
        }

        &:focus {
            outline: 1px dashed $black;
        }
    }
}
