//===============================
//
// CONTACT COMPONENT
//
//===============================

.contact {
    margin-bottom: 25px;

    @media (max-width: 991px) {
        width: 50%;
        float: left;
    }

    @media (max-width: 575px) {
        width: 100%;
        float: none;
    }

    &_header {
        color: $gunmetal;
    }

    &-list {
        @include nolist;

        &_item {
            position: relative;
            padding-left: 30px;

            .fa {
                font-size: .8em;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                color: $gunmetal;
            }

        }

        &_link {
            color: $light-red-ochre;
            font-size: .85em;

            &:hover {
                color: $light-red-ochre;
                text-decoration: underline;
            }
        }
    }
}
