//===============================
//
// ERROR COMPONENT
//
//===============================

.error {
    padding: 15px 0;

    &__header {
        font-weight: 700;
        font-size: 10rem;
        color: $light-red-ochre;

        small {
            font-size: 55%;
            text-transform: uppercase;
        }
    }

    &__caption,
    &__back {
        color: $purple-navy;
        margin-bottom: 25px;
    }

}
