//===============================
//
// INFO-ITEM COMPONENT
//
//===============================

.info-item {
    margin-bottom: 40px;

    &:last-child {
        margin-bottom: 0;
    }

    &_header {
        line-height: 1;
        margin-bottom: 15px;
    }

    &_name {
        text-transform: uppercase;
        line-height: 1.5;
        display: block;
        margin-bottom: 5px;
        color: $gunmetal;
    }

    &_sub {
        font-size: .85em;
        color: $gunmetal;
        margin-right: 15px;
        opacity: .65;

        &:last-child {
            margin-right: 0;

            @media (max-width: 576px) {
                display: block;
                margin-top: 10px;
            }
        }

        .far,.fas,.fab {
            margin-right: 8px;
        }

        &-sup {
            font-size: 80%;
            vertical-align: super;
        }

        a {
            color: $light-red-ochre;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &_text {
        font-weight: 300;
        line-height: 1.5;

        p {
            margin-bottom: 20px;
        }
    }

    &_keyproject {

        span {
            display: block;
            font-weight: bold;
        }
    }
}
