//===============================
//
// ITEM PROJECT COMPONENT
//
//===============================

.project-item {
    margin-bottom: 50px;

    &__header {

    }

    &__name,
    &__link {
        display: inline-block;
    }

    &__name {
        @media (max-width: 576px) {
            display: block;
        }
    }

    &__link {
        font-weight: 400;
        color: $light-red-ochre;
        margin: 0 15px;

        @media (max-width: 576px) {
            margin: 0 0 10px 0;
        }

        &:hover {
            opacity: .75;
        }
    }

    &__thumbnail {
        margin-bottom: 20px;
    }

    &__img {
        display: block;
        max-width: 100%;
        height: auto;
    }

    &__caption {

    }
}
