//===============================
//
// LIST COMPONENT
//
//===============================

.list {
    @include nolist;
    margin-bottom: 25px;

    @media (max-width: 991px) {
        width: 50%;
        float: left;
    }

    @media (max-width: 575px) {
        width: 100%;
        float: none;
    }

    &_table {
        width: 100%;
        display: table;
    }

    &__item {
        position: relative;
        padding-left: 30px;

        .fa {
            font-size: 1em;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            color: $gunmetal;
        }

        &_row {
            display: table-row;
        }

    }

    &__col {
        display: table-cell;
        padding: 8px;
        border-bottom: 1px solid transparentize($purple-navy, .75);

        &:first-child {
            width: 25%;
        }

        &_icon {
            padding-left: 30px;
        }
    }

    &__link {
        color: $light-red-ochre;
        font-size: .85em;

        &:hover {
            color: $light-red-ochre;
            text-decoration: underline;
        }
    }
}
