//===============================
//
// NAVIGATION COMPONENT
//
//===============================

.nav {
    display: block;
    margin: 20px auto 0;
    font-weight: 300;
    font-size: .75em;
    text-transform: uppercase;
    line-height: 1;
    color: $wight;

    // Small devices (landscape phones, less than 768px)
    @media (max-width: 767px) {
        margin: 15px auto 0;
    }


    &__link {
        display: inline-block;
        color: inherit;
        padding: 3px 10px;
        border-radius: 2px;
        background-color: transparentize($color: #000000, $amount: .7);
        text-decoration: none;
        text-shadow: 0 0 1px transparentize($color: #000000, $amount: .5);

        &:hover {
            color: $light-red-ochre;
        }

        &_active {
            pointer-events: none;
            color: $light-red-ochre;
        }
    }
}
