//===============================
//
// TABLE-SKILLS COMPONENT
//
//===============================

.table-skills {
    width: 100%;
    color: $gunmetal;
    margin-bottom: 40px;
    border-spacing: inherit;

    th,
    td {
        width: 25%;
        border-right: 1px solid transparentize($gunmetal, .7);

        &:last-child {
            border-right: 0;
            // padding-bottom: 20px;
        }

        &:first-child {
            padding-left: 0;
        }
    }

    th {
        font-size: .9rem;
        line-height: 1;
        text-transform: uppercase;
        text-align: left;
        padding: 20px;
        opacity: .75;

        @media (max-width: 576px) {
            padding: 20px 5px;
            font-size: .75rem;
        }
    }

    td {
        font-size: .9rem;
        line-height: 1;
        padding: 10px 20px;

        @media (max-width: 576px) {
            padding: 10px 5px;
            font-size: .75rem;
        }
    }

    tr {
        &:last-child {
            td {
                padding-bottom: 25px;
            }
        }
    }

    tbody {
        + thead {
            th {
                border-top: 1px solid transparentize($gunmetal, .7);
                padding-top: 25px;
            }
        }
    }
}
