//===============================
//
// LIGHT THEME FOR SITE
//
//===============================

body {
    background-color: $third-color;
}

footer {
    background-color: $primery-color;
    color: $third-color;

    a {
        &:hover {
            color: $secondary-color;
        }
    }
}

.article {
    color: $primery-color;

    &-footer {
        border-color: transparentize($gray-light, .8);
        color: transparentize($gray-light, .4);
    }

    &-header {
        a {
            color: $primery-color;

            .fa {
                color: transparentize($gray-light, .7);
            }

            &:hover {
                .fa {
                    color: $secondary-color;
                }
            }
        }
    }

    &-content {
        a {
            color: $secondary-color;
        }

        blockquote {
            background-color: $gray-lightest;
            border: 1px solid $secondary-color;
            color: $secondary-color;
        }
    }
}
