---
layout: default
---

<div class="wrapper">

    {% include header-nav.html %}

    <div class="flex-container">
        <aside class="aside">
            <div class="profile">
                <div class="profile-avatar profile-avatar_center">
                    <img class="profile-avatar__img" src="/images/user.jpg" alt="Kirdyashkin Egor">
                </div>
                <div class="profile-name">Кирдяшкин Егор</div>
                <div class="profile-profession">HTML/CSS Coder</div>
            </div>
            <div class="contact">
                <h3 class="contact_header">Контакты</h3>
                <ul class="contact-list">
                    <li class="contact-list_item">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <a class="contact-list_link" href="mailto:egorkir41@gmail.com">egorkir41@gmail.com</a>
                    </li>
                    <li class="contact-list_item">
                        <i class="fa fa-skype" aria-hidden="true"></i>
                        <a class="contact-list_link" href="skype:live:egorkir41">egorkir41</a>
                    </li>
                    <li class="contact-list_item">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                        <a class="contact-list_link" href="https://www.linkedin.com/in/egor-kirdyashkin-37ba35102/">egor-kirdyashkin</a>
                    </li>
                    <li class="contact-list_item">
                        <i class="fa fa-telegram" aria-hidden="true"></i>
                        <a class="contact-list_link" href="https://t.me/deeppines">@deeppines</a>
                    </li>
                    <li class="contact-list_item">
                        <i class="fa fa-github" aria-hidden="true"></i>
                        <a class="contact-list_link" href="https://github.com/deeppines">github.com/deeppines</a>
                    </li>
                </ul>
            </div>

            <div class="about">
                <h3 class="about_header">О себе</h3>
                <p class="about_text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione consectetur ea ullam, sit soluta ducimus qui vitae. Veniam suscipit eaque omnis magnam maiores fugiat, similique tenetur quasi esse dignissimos laudantium!
                </p>
            </div>

        </aside>

        <main class="main" role="main">
            <section class="info">
                <h2 class="info_header">Опыт работы</h2>
                <div class="info-item">
                    <div class="info-item_header">
                        <span class="info-item_name">Разработчик web-интерфейсов</span>
                        <span class="info-item_sub">
                                    <i class="fa fa-building" aria-hidden="true"></i>
                                    <a href="https://www.smileexpo.ru/" rel="nofolow">«Smile-Expo»</a>
                                </span>
                        <span class="info-item_sub">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>Jan 2016 — until now
                                    <sup class="info-item_sub-sup">1 year 7 months</sup>
                                </span>
                    </div>
                    <div class="info-item_text">
                        <p>
                            Занимался версткой сайтов для UMI.CMS на фреймворке Bootstrap 3. Исправлял ошибки на готовых проектах, добавлял новый функционал. Обучал контент менеджеров работе с UMI.CMS.
                        </p>
                    </div>
                </div>
                <div class="info-item">
                    <div class="info-item_header">
                        <span class="info-item_name">Web developer</span>
                        <span class="info-item_sub">
                                    <i class="fa fa-building" aria-hidden="true"></i>
                                    <a href="http://pragmatic-studio.ru/" rel="nofolow">«Pragmatik» - Web Studio</a>
                                </span>
                        <span class="info-item_sub">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>Jul 2014 — May 2015
                                    <sup class="info-item_sub-sup">11 Months</sup>
                                </span>
                    </div>
                    <div class="info-item_text">
                        <p>
                            Занимался версткой сайтов для UMI.CMS на фреймворке Bootstrap 3. Исправлял ошибки на готовых проектах, добавлял новый функционал. Обучал контент менеджеров работе с UMI.CMS.
                        </p>
                        <div class="info-item_keyproject">
                            <span>Ключевой прект: </span>
                            <p>Разработка шаблона сайта медицинского учреждения для UMI.CMS</p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="info">
                <h2 class="info_header">Ключевые навыки</h2>
                <table class="table-skills">
                    <thead>
                        <tr>
                            <th>Разметка</th>
                            <th>Стили</th>
                            <th>Скрипты</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>HTML</td>
                            <td>CSS</td>
                            <td>JavaScript</td>
                        </tr>
                        <tr>
                            <td>Markdown</td>
                            <td>Less</td>
                            <td>JQuery</td>
                        </tr>
                        <tr>
                            <td>Pug</td>
                            <td>SASS</td>
                            <td></td>
                        </tr>
                    </tbody>
                    <thead>
                        <tr>
                            <th>VCS</th>
                            <th>Автоматизация</th>
                            <th>Дополнительно</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Git</td>
                            <td>Gulp</td>
                            <td>Photoshop</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>Bootstrap</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>BEM</td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <section class="info">
                <h2 class="info_header">Образование</h2>
                <div class="info-item">
                    <div class="info-item_header">
                        <span class="info-item_name">БАКАЛАВР ИНФОРМАЦИОННЫХ СИСТЕМ</span>
                        <span class="info-item_sub">
                                    <i class="fa fa-university" aria-hidden="true"></i>ИвГПУ</span>
                        <span class="info-item_sub">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>Sep 2010 — Jul 2015</span>
                    </div>
                    <div class="info-item_text">
                        <p>
                            В 2015 году закончил Ивановский Государственный Политехнический Университет, Институт Информационных систем и технологий, по направлению Информационные системы и технологии (230400).
                        </p>
                    </div>
                </div>
            </section>
        </main>

        {% include footer.html %}
    </div>
</div>
