@use '@assets/styles/utils' as *;

.root {
  @include resetButton;
  display: flex;
  align-items: center;
  line-height: 1;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  color: var(--color-accent);
  transition: color 0.3s ease-in-out;
}
