@use '@assets/styles/utils' as *;

.root {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}

.buttons {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-left: auto;
}

.hiddenHeading {
  @include visuallyHidden;
}
